{% extends 'base.html' %}
{% block title %}Home | {% endblock title %}
{% block body %}
{% load static %}

<style>
.city {
  background-color: rgb(39, 78, 164);
  color: rgb(11, 1, 1);
  padding: 10px;
}
</style>

<h2 class="city"> Persnol Notes !! </h2>
<p style="background-color: #ffd500e4">Write your notes by hand! Ensure accurate note taking, better recall and client interaction; all integrated with your diary and billing.</p>
  <img src="/static/m12.jpg" alt="candies" width="700" height="200" alt="" class="img-fluid d-block mx-auto">
</p>

<h2 class="city"> Share with Friends</h2>
<p><img src="/static/m4.jpg" alt="candies" width="400" height="200" alt="" class="img-fluid d-block mx-auto"></p>

<h2 class="city"> A Chandigarh University Project</h2>
<p> <p style="background-color: #ffc800e4"> Made By : MONISH & SWARIT </p>
  <img src="/static/m6.jpg" alt="candies" width="400" height="200" alt="" class="img-fluid d-block mx-auto">

</p>
  
{% endblock body %}
